@theme {
  --breakpoint-lg-6: 1400px;
  --breakpoint-lg-5: 1350px;
  --breakpoint-lg-4: 1280px;
  --breakpoint-lg-3: 1200px;
  --breakpoint-lg-2: 1150px;
  --breakpoint-lg-1: 1100px;
  --breakpoint-md-10: 1066px;
  --breakpoint-md-9: 1046px;
  --breakpoint-md-8: 1024px;
  --breakpoint-md-7: 960px;
  --breakpoint-md-6: 912px;
  --breakpoint-md-5: 853px;
  --breakpoint-md-4: 820px;
  --breakpoint-md-3: 768px;
  --breakpoint-md-2: 730px;
  --breakpoint-md-1: 700px;
  --breakpoint-sm-8: 600px;
  --breakpoint-sm-7: 540px;
  --breakpoint-sm-6: 500px;
  --breakpoint-sm-5: 460px;
  --breakpoint-sm-4: 430px;
  --breakpoint-sm-3: 414px;
  --breakpoint-sm-2: 390px;
  --breakpoint-sm-1: 375px;
  --breakpoint-xs-5: 360px;
  --breakpoint-xs-4: 344px;
  --breakpoint-xs-3: 300px;
  --breakpoint-xs-2: 280px;
  --breakpoint-xs-1: 260px;

  --container-lg-6: 1400px;
  --container-lg-5: 1350px;
  --container-lg-4: 1280px;
  --container-lg-3: 1200px;
  --container-lg-2: 1150px;
  --container-lg-1: 1100px;
  --container-md-10: 1066px;
  --container-md-9: 1046px;
  --container-md-8: 1024px;
  --container-md-7: 960px;
  --container-md-6: 912px;
  --container-md-5: 853px;
  --container-md-4: 820px;
  --container-md-3: 768px;
  --container-md-2: 730px;
  --container-md-1: 700px;
  --container-sm-8: 600px;
  --container-sm-7: 540px;
  --container-sm-6: 500px;
  --container-sm-5: 460px;
  --container-sm-4: 430px;
  --container-sm-3: 414px;
  --container-sm-2: 390px;
  --container-sm-1: 375px;
  --container-xs-5: 360px;
  --container-xs-4: 344px;
  --container-xs-3: 300px;
  --container-xs-2: 280px;
  --container-xs-1: 260px;
}
