@theme {
  --color-app-gray-100: #141414;
  --color-app-gray-101: #191919;
  --color-app-gray-102: #f1f1f1;
  --color-app-gray-103: #979797;
  --color-app-gray-104: #4c4c4c;
  --color-app-gray-105: #101010;

  --color-app-orange-101: #fbaf85;
  --color-app-orange-102: #d87d4a;
}
