@utility text-preset-1 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

@utility text-preset-2 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

@utility text-preset-3 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 700;
}

@utility text-preset-4 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
}

@utility text-preset-4-bold {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 700;
}

@utility text-preset-5 {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
}

@utility text-preset-5-bold {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 700;
}
