@utility app-text-h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

@utility app-text-h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

@utility app-text-h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.15px;
}

@utility app-text-h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

@utility app-text-h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

@utility app-text-h6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

@utility app-text-overline {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

@utility app-text-sub-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
}

@utility app-text-body {
  font-weight: 500;
  text-transform: uppercase;
  text-transform: none;
  font-size: 15px;
  line-height: 25px;
}
